*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 92%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
}
.btn{
    display: inline-block;
    background: #571ae4;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.header{
    background: radial-gradient(#fff,#9ea5e9);
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.home-header{
    background: radial-gradient(#fff,#9ea5e9);
}
.home-navbar{
    background: radial-gradient(#fff,#9ea5e9);
}
/*------------------- about ------------------------*/
.about{
    background: radial-gradient(#fff,#9ea5e9);
}
.about p{
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
}
.about h1{
    margin-left: 60px;
}
.about h3{
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}
/*------------------- offer ------------------------*/
.background{
    background: radial-gradient(#fff,#9ea5e9);
}
.offer{
    margin-top: 0px;
    padding: 90px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
.categories h3{
    margin-left: 50%;
}
/*-------------------- clg ----------------------*/
.clg{
    margin: 100px auto;
}
.col-2{
    width: 100px;
}
/*-------------------- footer ----------------------*/
.footer{
    background: rgb(0, 0, 0);
    color: #8a8a8a;
    font-size: 14px;
    padding: 20px 20px;
}
.footer h1{
    color: #fff;
}
.footer h3{
    color: #fff;
}
.footer h4{
    color: #fff;
}
.other-footer{
    background: rgb(0, 0, 0);
    color: #8a8a8a;
    font-size: 14px;
    padding: 20px 20px;
}
.other-footer h3{
    color: #fff;
}
/*------------------- all products -------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #000;
    padding: 5px;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #000;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
/*------------------- product detail -------------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #000;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*------------------- cart -------------*/
.cart-page{
    margin: 80px auto;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
    width: 50%;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}
/*------------------- payment -------------*/
.imgalign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.qrmsg{
    display: block;
    margin-left: 450px;
    margin-right: auto;
    width: 400px;
}
/*------------------- account -------------*/
/*-----------------------------------------------
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#9ea5e9);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}
for, input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#Loginform{
    left: -300px;
}
#Regform{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}
--------------------------------------*/